{% load bootstrap3 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html>
    <head>
        <title>Fake Data Generator</title>
        <meta charset="utf-8">
        <meta name="description" content="Create fake datasets for your needs">
    </head>
    
    <body class="text-center">
        <h1>Fake Dataset Generator</h1>
        <h3>Having difficulties finding a simple dataset for your data scientist needs?</h3>
        <h3>Here, you can generate fake datasets for testing or learning purposes for free.</h3>
        <a href="https://github.com/Mikerah/FakeDataGenerator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
        <form action="." method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>